@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

.app {
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    display: flex;
    margin: 0px;
    min-width: 0px;
    scroll-behavior: smooth;
    scrollbar-width: 15px;
    scrollbar-color: #5a5a5a #efefef;
}

::selection {
    background-color: rgba(0, 236, 255, 1);
    color: #fff;
}

.tracking-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.sidenav-handler {
    background-color: var(--chakra-colors-gray-700);
    bottom: 0;
    cursor: default;
    display: block;
    left: 0;
    opacity: .4;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9000;
}

.Typewriter {
    display: inline-block;
}

@media screen and (max-width:400px) {
    .Typewriter {
        display: block;
    }
}

@keyframes icon {
    0% {
        opacity: 0;
        transform: scale(0.01);
    }

    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'League Mono';
    font-weight: 400;
    src: local('League Mono Regular'), url(../public/font/LeagueMono-Regular.woff2), local('League Mono SemiBold'), url(../public/font//LeagueMono-SemiBold.woff2), local('League Mono Bold'), url(../public/font/LeagueMono-Bold.woff2);
}

::-webkit-scrollbar {
    width: 15px;
    background: #eff1f5;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #5a6072;
    border: 2px solid #eff1f5;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}